<h1>Step 1</h1>
<h2>Import JSON Data...</h2>

<br />

<form action="/BulkImport/BulkImport" method="post">
	<textarea name="rawJson" rows="20" cols="50"></textarea>
	<br />
	<input class="btn btn-primary" type="submit" value="Submit" />
</form>