@model IEnumerable<Domain.Interfaces.IItemValidating>

@{
	var restaurants = Model.Cast<Domain.Models.Resturant>();
}
<form method="post" action="/Verification/Approve">

	<h1>Pending Resturants</h1>
	@if (restaurants.Any(x => x.GetValidators().Contains(User.Identity.Name)))
	{
		<input class="btn-primary" type="submit" value="Approve Selected" />
	}

	<div class="row gap-3">
		@foreach (var item in restaurants)
		{
			<div class="col-md-4 mb-4">
				@await Html.PartialAsync(item.GetCardPartial(), item)

				<div class="card mt-3">
					<div class="card-body">
						<input type="checkbox" name="ids" value="@item.Id" />
						Select for approval
					</div>
				</div>
			</div>



		}
	</div>
</form>
