@model IEnumerable<Domain.Interfaces.IItemValidating>

@{
	var viewType = ViewBag.ViewType;
}


@if (viewType == "card")
{
	<h1>Restuarants View</h1>

	<div class="row gap-3">
		@foreach (var item in Model)
		{
			<div class="col-md-4 mb-4">
				@await Html.PartialAsync(item.GetCardPartial(), item)
			</div>
		}
	</div>

}
else
{
	<h1>Menu Items View</h1>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Image</th>
				<th scope="col">Title</th>
				<th scope="col">Price</th>
				<th scope="col">Resturuant</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				@await Html.PartialAsync(item.GetCardPartial(), item)
			}
		</tbody>
	</table>
}


