@model IEnumerable<Domain.Interfaces.IItemValidating>

@{
	var viewType = ViewBag.ViewType;
}


@if (viewType == "card")
{
	var restaurants = Model.Cast<Domain.Models.Resturant>();
	<form method="post" action="/Items/Approve">

		<h1>Restuarants View</h1>
		@if (restaurants.Any(x => x.GetValidators().Contains(User.Identity.Name)))
		{
			<input class="btn-primary" type="submit" value="Approve Selected" />
		}

		<div class="row gap-3">
			@foreach (var item in restaurants)
			{
				<div class="col-md-4 mb-4">
					@await Html.PartialAsync(item.GetCardPartial(), item)
					@if (restaurants.Any(x => x.GetValidators().Contains(User.Identity.Name)) && item.Status == "pending")
					{
						<div class="card mt-3">
							<div class="card-body">
								<input type="checkbox" name="ids" value="@item.Id" />
								Select for approval
							</div>
						</div>
					}
				</div>



			}
		</div>
	</form>

}
else
{
		<h1>Menu Items View</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Image</th>
					<th scope="col">Title</th>
					<th scope="col">Price</th>
					<th scope="col">Resturuant</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					@await Html.PartialAsync(item.GetCardPartial(), item)
				}
			</tbody>
		</table>
}


