@model Domain.Models.MenuItem

<td>
	<img src=@Model.ImagePath alt=@Model.Title width="50" height="50" />
</td>
<td>@Model.Title</td>
<td>@Model.Price</td>
<td>@Model.Resturant.Name</td>
<td>@Model.Status</td>